<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="whitelist:Path" value="~/whitelist.txt"/>
    <add key="whitelist:Url" value="http://localhost/whitelist.txt"/>
  </appSettings>
  <system.webServer>
    <modules>
      <!--
        Uncomment after copying whitelist.txt to C:\inetpub\wwwroot
        <add name="HostedWhitelist" type="USG.Authorization.HostedWhitelistModule, USG.Authorization.AspNet"/>
      -->
      <add name="StaticWhitelist" type="USG.Authorization.StaticWhitelistModule, USG.Authorization.AspNet"/>
    </modules>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
