<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="whitelist:Path" value="~/whitelist.txt"/>
    <add key="whitelist:Url" value="http://localhost/whitelist.txt"/>
  </appSettings>
  <system.webServer>
    <modules>
      <!--
        Uncomment after copying whitelist.txt to C:\inetpub\wwwroot
        <add name="HostedWhitelist" type="Usg.Whitelist.HostedWhitelistModule, Usg.Whitelist.AspNet"/>
      -->
      <add name="StaticWhitelist" type="Usg.Whitelist.StaticWhitelistModule, Usg.Whitelist.AspNet"/>
    </modules>
  </system.webServer>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>